In [2]:
import pandas as pd
import numpy as np

In [3]:
toy_df = pd.DataFrame(
    {'numbers':[
        1,2,3, np.nan, np.nan, np.nan,7
    ]}
)

toy_df

   numbers
0      1.0
1      2.0
2      3.0
3      NaN
4      NaN
5      NaN
6      7.0

In [4]:
toy_df.isnull().sum()

numbers    3
dtype: int64

In [5]:
dropped_toy_df = toy_df.dropna()
dropped_toy_df

   numbers
0      1.0
1      2.0
2      3.0
6      7.0

In [6]:
filled_toy_df = toy_df.fillna(0)
filled_toy_df

   numbers
0      1.0
1      2.0
2      3.0
3      0.0
4      0.0
5      0.0
6      7.0

In [7]:
toy_df.interpolate()

   numbers
0      1.0
1      2.0
2      3.0
3      4.0
4      5.0
5      6.0
6      7.0

In [10]:
data = pd.read_csv('../data/mobile_price_classification.csv')

In [11]:
data.head()

,id,battery_power,blue,clock_speed,dual_sim,fc,four_g,int_memory,m_dep,mobile_wt,...,px_height,px_width,ram,sc_h,sc_w,talk_time,three_g,touch_screen,wifi,price_range
0,1,842,0,2.2,0,1.0,0,7,0.6,188.0,...,20,756,2549.0,9,7,19,0,0,1,1
1,2,1021,1,0.5,1,NaN,1,53,0.7,136.0,...,905,1988,NaN,17,3,7,1,1,0,2
2,3,563,1,0.5,1,2.0,1,41,0.9,NaN,...,1263,1716,2603.0,11,2,9,1,1,0,2
3,4,615,1,2.5,0,NaN,0,10,0.8,131.0,...,1216,1786,2769.0,16,8,11,1,0,0,2
4,5,1821,1,1.2,0,13.0,1,44,NaN,141.0,...,1208,1212,1411.0,8,2,15,1,1,0,1

In [12]:
data.shape

(2002, 22)

In [13]:
data.columns

Index(['id', 'battery_power', 'blue', 'clock_speed', 'dual_sim', 'fc',
       'four_g', 'int_memory', 'm_dep', 'mobile_wt', 'n_cores', 'pc',
       'px_height', 'px_width', 'ram', 'sc_h', 'sc_w', 'talk_time', 'three_g',
       'touch_screen', 'wifi', 'price_range'],
      dtype='object')

In [14]:
data = data.drop('id',axis=1)
data.shape

(2002, 21)

In [15]:
data.describe()

,battery_power,blue,clock_speed,dual_sim,fc,four_g,int_memory,m_dep,mobile_wt,n_cores,...,px_height,px_width,ram,sc_h,sc_w,talk_time,three_g,touch_screen,wifi,price_range
count,2002.000000,2002.000000,2002.000000,2002.000000,1995.000000,2002.000000,2002.000000,1997.000000,1996.000000,2002.000000,...,2002.000000,2002.000000,2000.000000,2002.000000,2002.000000,2002.000000,2002.000000,2002.000000,2002.000000,2002.000000
mean,1238.485514,0.494505,1.522428,0.509491,4.319799,0.521479,32.037463,0.502053,141.289579,4.520979,...,644.652847,1251.457043,2128.750000,12.306194,5.767732,11.008492,0.761738,0.502498,0.506494,1.499500
std,439.389628,0.500095,0.815769,0.500035,4.341836,0.499663,18.144296,0.288578,45.313271,2.287617,...,443.792863,431.988140,1096.826623,4.212218,4.354540,5.462372,0.426126,0.500119,0.500083,1.117866
min,501.000000,0.000000,0.500000,0.000000,0.000000,0.000000,2.000000,0.100000,80.000000,1.000000,...,0.000000,500.000000,256.000000,5.000000,0.000000,2.000000,0.000000,0.000000,0.000000,0.000000
25%,851.250000,0.000000,0.700000,0.000000,1.000000,0.000000,16.000000,0.200000,109.000000,3.000000,...,282.000000,875.250000,1207.500000,9.000000,2.000000,6.000000,1.000000,0.000000,0.000000,1.000000
50%,1226.000000,0.000000,1.500000,1.000000,3.000000,1.000000,32.000000,0.500000,141.000000,4.000000,...,564.000000,1247.000000,2145.000000,12.000000,5.000000,11.000000,1.000000,1.000000,1.000000,1.000000
75%,1615.000000,1.000000,2.200000,1.000000,7.000000,1.000000,48.000000,0.800000,170.000000,7.000000,...,946.750000,1632.750000,3069.000000,16.000000,9.000000,16.000000,1.000000,1.000000,1.000000,2.000000
max,1998.000000,1.000000,3.000000,1.000000,19.000000,1.000000,64.000000,1.000000,960.000000,8.000000,...,1960.000000,1998.000000,7286.000000,19.000000,18.000000,20.000000,1.000000,1.000000,1.000000,3.000000

In [16]:
data = data.rename(
    columns = {
        'blue':'bluetooth',
        'fc':'fc_megapixel',
        'pc':'pc_megapixel',
        'm_dep':'m_depth'
    }
)

In [17]:
data.head()

,battery_power,bluetooth,clock_speed,dual_sim,fc_megapixel,four_g,int_memory,m_depth,mobile_wt,n_cores,...,px_height,px_width,ram,sc_h,sc_w,talk_time,three_g,touch_screen,wifi,price_range
0,842,0,2.2,0,1.0,0,7,0.6,188.0,2,...,20,756,2549.0,9,7,19,0,0,1,1
1,1021,1,0.5,1,NaN,1,53,0.7,136.0,3,...,905,1988,NaN,17,3,7,1,1,0,2
2,563,1,0.5,1,2.0,1,41,0.9,NaN,5,...,1263,1716,2603.0,11,2,9,1,1,0,2
3,615,1,2.5,0,NaN,0,10,0.8,131.0,6,...,1216,1786,2769.0,16,8,11,1,0,0,2
4,1821,1,1.2,0,13.0,1,44,NaN,141.0,2,...,1208,1212,1411.0,8,2,15,1,1,0,1

In [21]:
data[data.duplicated()]

,battery_power,bluetooth,clock_speed,dual_sim,fc_megapixel,four_g,int_memory,m_depth,mobile_wt,n_cores,...,px_height,px_width,ram,sc_h,sc_w,talk_time,three_g,touch_screen,wifi,price_range
1980,1614,0,1.2,0,1.0,1,9,0.1,161.0,3,...,173,1219,1832.0,15,8,11,1,0,0,1
1986,797,0,2.2,1,0.0,0,37,0.9,144.0,7,...,206,1167,2216.0,9,5,6,1,0,0,1

In [23]:
data = data.drop_duplicates()

In [24]:
data.isnull().sum()

battery_power    0
bluetooth        0
clock_speed      0
dual_sim         0
fc_megapixel     7
four_g           0
int_memory       0
m_depth          5
mobile_wt        6
n_cores          0
pc_megapixel     0
px_height        0
px_width         0
ram              2
sc_h             0
sc_w             0
talk_time        0
three_g          0
touch_screen     0
wifi             0
price_range      0
dtype: int64

In [25]:
data.isna().sum()

battery_power    0
bluetooth        0
clock_speed      0
dual_sim         0
fc_megapixel     7
four_g           0
int_memory       0
m_depth          5
mobile_wt        6
n_cores          0
pc_megapixel     0
px_height        0
px_width         0
ram              2
sc_h             0
sc_w             0
talk_time        0
three_g          0
touch_screen     0
wifi             0
price_range      0
dtype: int64

In [26]:
data['fc_megapixel'] = data['fc_megapixel'].fillna(0)

C:\Users\dania\AppData\Local\Temp/ipykernel_11324/493458446.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['fc_megapixel'] = data['fc_megapixel'].fillna(0)

In [27]:
data.isnull().sum()

battery_power    0
bluetooth        0
clock_speed      0
dual_sim         0
fc_megapixel     0
four_g           0
int_memory       0
m_depth          5
mobile_wt        6
n_cores          0
pc_megapixel     0
px_height        0
px_width         0
ram              2
sc_h             0
sc_w             0
talk_time        0
three_g          0
touch_screen     0
wifi             0
price_range      0
dtype: int64

In [29]:
len(data['ram'].unique())

1562

In [30]:
data['ram'] = data['ram'].fillna(method='backfill')

C:\Users\dania\AppData\Local\Temp/ipykernel_11324/470903426.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['ram'] = data['ram'].fillna(method='backfill')

In [31]:
data.isnull().sum()

battery_power    0
bluetooth        0
clock_speed      0
dual_sim         0
fc_megapixel     0
four_g           0
int_memory       0
m_depth          5
mobile_wt        6
n_cores          0
pc_megapixel     0
px_height        0
px_width         0
ram              0
sc_h             0
sc_w             0
talk_time        0
three_g          0
touch_screen     0
wifi             0
price_range      0
dtype: int64

In [34]:
data['mobile_wt'] = data['mobile_wt'].fillna(data['mobile_wt'].median())

C:\Users\dania\AppData\Local\Temp/ipykernel_11324/378402488.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['mobile_wt'] = data['mobile_wt'].fillna(data['mobile_wt'].median())

In [36]:
data = data.dropna()

In [37]:
data.shape

(1995, 21)

In [ ]:
numeric_data = data.drop([
    
])